/* Loading.css */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Nền mờ */
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Màu viền nhạt */
    border-top: 8px solid #3498db; /* Màu viền đậm */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes sandglass {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-icon {
    display: inline-block;
    animation: sandglass 2s linear infinite;
    font-size: 24px; /* Điều chỉnh kích thước của icon nếu cần */
  }
  
  